.basic-details {
    display:flex;
    flex-direction: column;
}

.nutrition-header {
    margin-top:5%;
}
.nutrition-details {
    display: flex;
}

.example-full-width {
    width: 100%;
  }